@import url('https://fonts.googleapis.com/css?family=Roboto|Spectral+SC');

main {
    margin: 0 auto;
    // padding-top: 190px;
    background-color: #040403;
    font-family: 'Roboto', sans-serif;    
    color: white;
    text-align: center;

    div {
        box-sizing: border-box;
    }

    h1 {
        font-family: 'Spectral SC', serif;
        font-size: 78px;
    }

    h2 {
        font-family: 'Spectral SC', serif;
        font-size: 35px;
    }

    h3 {
      font-family: 'Spectral SC', serif;
      font-size: 28px;
    }

    ul {
      li {
        list-style: square outside;
        font-size: 22px;
        margin: 0 0 15px 10px;
      }
    }

    a {
      color: white;
    }

    .page-container {
        .head-banner {
            background-attachment: fixed;
            // background-position: left top;
            background-repeat: no-repeat;
            background-size: cover;
            height: 690px;
            padding: 240px 0 50px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: rgba(255,255,255,0.07);
        
            .banner-contents {
        
                .head-image {
                    display: block;
                    margin: 0 auto;
                    height: 145px;
                }
            }
        }
        
        .content-area {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding:50px 25px;
        
            h2 {
                margin-bottom: 25px;
            }
        
            p {
                font-size: 22px;
                line-height: 25px;
            }
        }

        .content-area-main {
          padding-top: 90px;
        }

        #content-area-contact {
            display: flex;
            flex-direction: row;
            padding: 75px 0 10px 0;
            div {  
                flex: 1;
        
                p {
                    text-align: center;
                    font-size: 16px;
                    color: #222222;
                }
            }
        }
    }
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}
