@import url('https://fonts.googleapis.com/css?family=Barlow|Spectral+SC');

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 125px;
    // background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 

    nav.shift {
        height: 80px !important;
        background-color: rgba(64,1,1,0.95) !important;

        #menu-logo li > img {
            height: 80px !important;
            margin: 0 auto !important;
            transform: translateY(0) !important;
        }
    }
    
    nav#menu-cont {
        font-family: 'Spectral SC', serif;
        width: 100%;
        height: 190px;
        background-color: rgba(64,1,1,0.5);
        transition: height .075s ease-in, background-color .075s ease-in;
        // border-bottom: 2px solid black;

        div#main-menu {
            overflow: visible;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            width: 80%;
            height: 80px;
            // border-bottom: 2px solid black;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                flex: 1;

                li.menu-bar-item {
                    margin: auto;

                    .bar-link {
                        display: block;
                        padding: 8px;
                        font-size: 22px;
                        color: white;
                        // background-color: #dddddd;
                        margin: 0 10px 0 10px;
                        text-decoration: none;

                    }

                    // .drop-down-items {
                    //     display: none;
                    //     position: fixed;
                    //     background-color: #926666;
                    //     padding: 0 5px;
                    //     transition: display 2s;
                    // }

                    ul.drop-down {
                        display: none;
                        background-color: rgba(0,0,0,0.85);
                        margin: 0;
                        padding: 5px 0;
                        font-size: 15px;
                        text-align: center;
                        position: absolute;
                        border-radius: 2px;
                        opacity: 1;

                        li {
                            width: 125px;
                            margin: 10px 0;
                            padding: 0 8px;
                            // transform: translateY(-200px);
                            a {
                                text-decoration: none;
                                color: white;
                                font-family: 'Barlow', sans-serif;
                            }
                        }

                        li:hover {
                            background-color: #660202;
                        } 
                    } 
                }

                li.menu-bar-item:hover {
                    .drop-down {
                        display: block;

                        animation: fadeInFromNone 0.5s ease-out;

                        @keyframes fadeInFromNone {
                            0% {
                                display: none;
                                opacity: 0;
                            }
                        
                            1% {
                                display: block;
                                opacity: 0;
                            }
                        
                            100% {
                                display: block;
                                opacity: 1;
                            }
                        }

                        // li {
                        //     transform: translateY(0px);
                        //     animation: sweepDown 0.35s ease-in;

                        //     @keyframes sweepDown {
                        //         0% {
                        //             transform: translateY(-200px);                                    
                        //         }
   
                        //         2% {
                        //             transform: translateY(-200px); 
                        //         }

                        //         100% {
                        //             transform: translateY(0px);
                        //         }
                        //     }
                        // }

                        
                                    
                    }
                }

                    // ul.drop-down:hover {
                    //     background-color: rgb(223, 83, 83);
                    //     display: block;
                    // }
                
                    
                }
                
                ul#primary-left {
                    flex: 7;
                    margin-left: auto;
                    li.menu-bar-item {
                        float: right;
                    }
                }
                
                ul#menu-logo {
                    flex: 2;
                    z-index: 1;
                
                    li > img {
                        display: block;
                        margin: auto;
                        transform: translateY(50px);
                        height: 180px;
                        transition: height .075s ease-in, transform .075s ease-in;
                    }
                }
                
                ul#primary-right {
                    flex: 7;
                    margin-right: auto;
                    li.menu-bar-item {
                        float: left;
                    }
                }
                

            // .menu-logo {
            //     margin: 0 auto;
            // }
        }
    }
}

// header::after {
//     content: "";
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     display: block;
//     left: 0;
//     top: 0;
//     background: linear-gradient(to top, rgba(0,0,0,0.00625) 0%, rgba(0,0,0,0.0125) 20%, rgba(0,0,0,0.25) 60%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//     pointer-events: none;
// }







// a {
//     display: block;
//     padding: 8px;
//     background-color: #dddddd;
// }